@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: white;
  padding: 0;
  margin: 0;
}

nav	{
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'MuseoModerno', cursive;
	padding: 0 5%;
	height: 100px;
	background-color: #3e65da;
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

nav .liens {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .liens li {
	list-style: none;
}

nav .liens a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav-survol {
	position: absolute;
	top: -100px;
}

nav .icone-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icone-burger .ligne {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
}

.container {
  margin-top: 9em;
  columns: 3;
  padding-left: 4vh;
  padding-right: 4vh;
  column-gap: 30px;
}

h1 {
  column-span: all;
  font-family: 'MuseoModerno', cursive;
  color: #3e65da;
  transition: .3s;
}

h1:hover {
	color: ;
	font-weight: bold;
}

h2 {
  column-span: all;
  font-family: 'MuseoModerno', cursive;
  color: #3e65da;
  transition: .3s;
}

p {
	font-family: 'Lato';
	color: 
}

.persocard img{
  max-width: 250px;
  max-height: 250px;
}

@media screen and (max-width: 768px) {
		nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}

	nav .liens {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	nav .liens a {
		font-size: 20px;

	}

	nav .icone-burger {
		display: block;
	}

    nav : checked ~ .liens {
		bottom: 0;
		font-weight: bold;

	}

	nav : checked ~ .icone-burger .ligne {

	}

	.container {
		columns: 2;
		padding-left: 3vh;
  		padding-right: 3vh;
  		column-gap: 20px;
	}
}
