@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: white;
}

.container {
  columns: 3;
  padding-left: 4vh;
  padding-right: 4vh;
  column-gap: 30px;
}

h1 {
  column-span: all;
  font-family: 'MuseoModerno', cursive;
  color: #e74c3c
}

h2 {
  column-span: all;
  font-family: 'MuseoModerno', cursive;
  color: #e74c3c
}

p {
	font-family: 'Lato';
	color: 
}

.persocard img{
  max-width: 250px;
  max-height: 250px;
}
